<div class="row container">
	<div class="col-md-9">
		<ul id="conversations-list">
			<% @conversations.each do |conversation| %>
			<%= render 'conversations/conversation', conversation: conversation, user: current_user %>
			<% end %>
		</ul>
	</div>
	<%if current_user.role == "admin"%>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">User list</h3>
			</div>
			<div class="panel-body">
				<ul>
					<% @users.each do |user| %>
					<% if user.role == "trainee" or user.role == "trainer"%>
					<li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<%elsif current_user.role == "trainer" %>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">User list</h3>
			</div>
			<div class="panel-body">
				<ul>
					<% @users.each do |user| %>
					<% if user.role == "trainee" %>
					<li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<% else current_user.role == "trainee"%>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">User list</h3>
			</div>
			<div class="panel-body">
				<ul>
					<% @users.each do |user| %>
					<% if user.role == "trainer" %>
					<li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<% end %>