<% content_for :title, 'admin | Action Cable Chat' %>
<div class="message-history" id="messages">
   <%= render partial: 'messages/message', collection: @messages %>
</div>
<div class="footer" >
  <div class="input-box">
    <input type="text" class="input-box_text" id="message_input"/>
  </div>
</div>