@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rooms";
@import "dataTables.bootstrap4.min";
@import "impact_backhand/css/custom";
@import "impact_backhand/css/fontastic";
@import "impact_backhand/css/simple-line-icons";
@import "impact_backhand/css/grasp_mobile_progress_circle-1.0.0.min";
@import "impact_backhand/css/style.blue";
@import "impact_backhand/css/style.default";
@import "impact_backhand/css/style.green";
@import "impact_backhand/css/style.pink";
@import "impact_backhand/css/style.red";
@import "impact_backhand/css/style.sea";
@import "impact_backhand/css/style.violet";

$simple-line-font-path        : "/path/to/font/files";
$simple-line-font-family      : "desired-name-font-family";
$simple-line-icon-prefix      : "prefix-";

ul {
  padding-left: 0px;
  list-style: none;
}

.chats-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 5px;
  margin-left: 85%;
}

.chat-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 5px;
  margin-left: left;
}
