@import "bootstrap";
@import "font-awesome-sprockets";
@import 'rails_emoji_picker';
@import "font-awesome";
@import "rooms";
@import "dataTables.bootstrap4.min";
@import "impact_backhand/css/custom";
@import "impact_backhand/css/fontastic";
@import "impact_backhand/css/simple-line-icons";
@import "impact_backhand/css/grasp_mobile_progress_circle-1.0.0.min";
@import "impact_backhand/css/style.blue";
@import "impact_backhand/css/style.default";
@import "impact_backhand/css/style.green";
@import "impact_backhand/css/style.pink";
@import "impact_backhand/css/style.red";
@import "impact_backhand/css/style.sea";
@import "impact_backhand/css/style.violet";

$simple-line-font-path        : "/path/to/font/files";
$simple-line-font-family      : "desired-name-font-family";
$simple-line-icon-prefix      : "prefix-";

ul {
padding-left: 0px;
list-style: none;
}

.chats-list {
max-height: 200px;
overflow-y: auto;
overflow-x: hidden;
}

.chat-sent {
position: relative;
background-color: white;
border-color: black;
margin: 5px 20px;
padding: 5px;
margin-left: 75%;
}

.chat-received {
background-color: white;
border-color: black;
margin: 5px 20px;
padding: 5px;
margin-left: left;
}
.emoji-picker-container 
{
position: relative;
display: inline-block;
font-size: 45px;
min-width: 95%;
}
.emoji-picker{
margin-right: 15px;
margin-top: 5px;
}

.cke_chrome {

}
.cke_reset_all, .cke_reset_all *, .cke_reset_all a, .cke_reset_all textarea {
/*background: transparent;*/

top: 0px;
left: 0px;
display: none;
}

.cke_top {
    border-bottom: 1px solid #d1d1d1;
    background: white; 
     padding: 0px 0px 0px; 
    white-space: normal;
}
.cke_top, .cke_contents, .cke_bottom {
    display: block;
    overflow: hidden;
}
.cke_float .cke_top {
    
}
.emoji-wysiwyg-editor {
    padding: 6px 35px 6px 6px;
    margin-bottom: 0;
    min-height: 40px;
    height: 30px;
    max-height: 284px;
    overflow: auto;
    position: relative;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    resize: both;
    line-height: 17px;
    border: 1px solid #d2dbe3;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-user-select: text;
    word-wrap: break-word;
}