@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dataTables.bootstrap4.min";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-grid.min";
@import "bootstrap/bootstrap-reboot.min";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap.min";
@import "bootstrap/bootstrap";
@import "css/custom";
@import "css/fontastic";
@import "css/simple-line-icons";
@import "css/grasp_mobile_progress_circle-1.0.0.min";
@import "css/style.blue";
@import "css/style.default";
@import "css/style.green";
@import "css/style.pink";
@import "css/style.red";
@import "css/style.sea";
@import "css/style.violet";
@import "icons-reference/styles";
@import "jquery.mCustomScrollbar";

$simple-line-font-path        : "/path/to/font/files";
$simple-line-font-family      : "desired-name-font-family";
$simple-line-icon-prefix      : "prefix-";

