 <!DOCTYPE html>
 <html>
 <head>
  <title>AppsImpactTrainers</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'trainee/trainee', media: 'all'%>
  <%= javascript_include_tag 'trainee/trainee' %>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
